<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4 wow fadeInLeft">
				<h3 class="column-title">Editar Estado</h3>

				<%= render 'form' %>

				<%= link_to 'Ver', @state %> |
				<%= link_to 'Voltar', states_path %>
			</div>
		</div>
	</div>
</section>