<section id="main-slider">
	<div class="owl-carousel">
	<div class="item">
			<%= image_tag "slider/bg1.jpg" %>
			<div class="slider-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="carousel-content">
								<h2><span>Preço</span> das Habitações nos EUA</h2>
								<p>Análise à cotação das habitações de vários estados dos Estados Unidos da América desde 1975 até 2016. </p>
								<%= link_to "Observar", states_path, class: 'btn btn-primary btn-lg' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 



<!-- <section id="cta">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Página de Inicial</h2>
      <div class="text-center">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  </div>
</section> -->